  
@use "../abstracts/" as *;

/* Header Section with Navbar*/
.header {
  padding-top: 65px;
  padding-bottom: 141px;

  background-color: $color-gray;

  @include header-media();
  @include navbar-media();
}
.navbar {
  margin-bottom: 122px;

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -0.75em;

    gap: $gap;
  }

  &__link {
    display: block;

    padding: 0.5em 0.75em;

    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    &--active {
      color: $color-primary;

      font-weight: 500;
    }
  }
}

.header-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  max-width: $container-secondary;

  &__title {
    margin-top: 0;
    margin-bottom: 33px;
  }

  &__description {
    margin-bottom: 52px;

    color: $color-secondary;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 225px;
    min-height: 65px;
    padding: 0.5em;

    letter-spacing: $letter-spacing;
    text-transform: uppercase;

    color: $color-white;
    background-color: $color-primary;
  }
}
