@use "../abstracts" as *;
/* Video */
.video {
  padding-top: 10px;
  padding-bottom: 92px;

  background-color: $color-gray;

  @include video-media();

  &__iframe {
    width: 100%;
    height: 600px;
    min-height: 200px;

    border: 0;

    object-fit: cover;
  }
}
