@use "variables" as *;
@use "skin" as *;

@mixin section() {
  padding-top: 110px;
  padding-bottom: 39px;

  text-align: center;

  &__title {
    margin-top: -23px;
    margin-bottom: 32px;
  }

  &__description {
    margin-bottom: 0;

    color: $color-secondary;
  }
}
